
#include "resource_vc.h"

#define APSTUDIO_READONLY_SYMBOLS
#include "afxres.h"
#undef APSTUDIO_READONLY_SYMBOLS

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_FRA)

#ifdef _WIN32
LANGUAGE LANG_FRENCH, SUBLANG_FRENCH
#pragma code_page(1252)
#endif

#ifndef _MAC
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,9,7,0
 PRODUCTVERSION 1,9,7,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Grame\0"
            VALUE "FileDescription", "Jackmp for Windows\0"
            VALUE "FileVersion", "1, 9, 7, 0\0"
            VALUE "InternalName", "libjackmp\0"
            VALUE "LegalCopyright", "Copyright Grame © 2006-2011\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "libjackmp.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "libjackmp\0"
            VALUE "ProductVersion", "1, 9, 7, 0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
#endif

#ifdef APSTUDIO_INVOKED
1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource_vc.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "#include ""afxres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "\r\n"
    "\0"
END
#endif

#endif

#ifndef APSTUDIO_INVOKED
#endif
