build/
man/*.1
.lock*
__pycache__
*.pyc
android/.server/
android/.client/
codeBlocks

# Visual Studio files
*.vcxproj.user
windows/JackRouter/.vs
windows/JackRouter/Debug
windows/JackRouter/Release
windows/JackRouter/Release64
