build/
man/*.1
.lock*
.stamp_*
.DS_Store
__pycache__
*.pyc
*.pkg
android/.server/
android/.client/
codeBlocks

# Visual Studio files
*.vcxproj.user
windows/JackRouter/.vs
windows/JackRouter/Debug
windows/JackRouter/Release
windows/JackRouter/Release64
