build/
man/*.1
.lock*
.stamp_*
.DS_Store
__pycache__
*.dll
*.pyc
*.pkg
android/.server/
android/.client/
codeBlocks

# macos release files
macos/package.xml
macos/package-welcome.txt

# windows release files
windows/inno/version.iss
windows/inno/win32
windows/inno/win64
