<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All Universal 32 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>All Universal 32/64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Jackmp.framework 64 bits debugging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>Jackmp.framework 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>Jackmp.framework Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Jacknet.framework 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>Jackservermp.framework 64 bits profiling.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>Jackservermp.framework 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>Jackservermp.framework Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>audioadapter 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>93</integer>
		</dict>
		<key>audioadapter Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>inprocess 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>95</integer>
		</dict>
		<key>inprocess Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>jack_alias Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>jack_bufsize 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>jack_bufsize Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>jack_connect 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>jack_connect Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>jack_coreaudio 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>jack_coreaudio Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>jack_coremidi 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>89</integer>
		</dict>
		<key>jack_coremidi Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>jack_cpu 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>jack_cpu Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>jack_disconnect 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>jack_disconnect Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>jack_dummy 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>jack_dummy Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>jack_evmon 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>jack_evmon Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>jack_external_metro 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>jack_external_metro Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>jack_freewheel 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>jack_freewheel Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>jack_impulse_grabber 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>jack_impulse_grabber Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>jack_iodelay 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>jack_iodelay Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>jack_latent_client 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>jack_latent_client Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>jack_load 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>jack_load Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>jack_loopback 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>88</integer>
		</dict>
		<key>jack_loopback Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>jack_lsp 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>jack_lsp Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>jack_metro 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>jack_metro Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>jack_midi_dump 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>jack_midi_dump Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>jack_midi_latency 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>jack_midiseq 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>jack_midiseq Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>jack_midisine 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>jack_midisine Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>jack_monitor_client 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>jack_monitor_client Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>jack_net 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>90</integer>
		</dict>
		<key>jack_net Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>jack_netone 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>91</integer>
		</dict>
		<key>jack_netone Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>jack_netsource 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>jack_netsource Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>jack_portaudio 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>jack_portaudio Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>jack_rec 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>jack_rec Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>jack_server_control 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>jack_server_control Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>jack_showtime 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>jack_showtime Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>jack_test 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>jack_test Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>jack_thread_wait 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>jack_thread_wait.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>jack_unload 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>jack_unload Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>jackdmp framework 64bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>jackdmp framework Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>netadapter 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>94</integer>
		</dict>
		<key>netadapter Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>netmanager 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>92</integer>
		</dict>
		<key>netmanager Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>synchroClient 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>synchroClient Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>synchroServer 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>synchroServer Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>synchroServerClient 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>synchroServerClient Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>testAtomic 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>testAtomic Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>testMutex Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>testSem 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>testSem Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>zombie 64 bits.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>zombie Universal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B0A28DC0D52073D002EFF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B0A29230D52108E002EFF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B19B2F60E23620F00DD4A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B2021DC133A9BA40019E213</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3224D710A3156800838A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B32251D10A316B200838A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B32255710A3187800838A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B32257110A3190C00838A8E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C41B0D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C4270D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C4850D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C50A0D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5160D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5220D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C52E0D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C53A0D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5460D4731D1000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5520D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5600D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C56C0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5780D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5880D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C59C0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5A80D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5B40D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5C00D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5CC0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5D80D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C5EC0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C6000D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C6140D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C61F0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C62A0D4731D2000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C6350D4731D3000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B35C6420D47339B000DE7AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363DCE0DEB02F6001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363E100DEB03C5001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363E440DEB0775001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363EDF0DEB091C001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363F140DEB0A6A001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363F2B0DEB0BD1001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B363F680DEB0D4E001F72D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B3811551326878E00C61B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B38118D1326884E00C61B14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B43A8B010145F6F00E52943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B43A8DD1014615800E52943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B47AC8010B5890100469C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5A1BB10CD1CB9E0005BF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5A1BD00CD1CCE10005BF74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B5E08BF0E5B66EE00BEE4E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B6654ED127C34AE00753A79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699B26097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699BA7097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699C00097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699C4C097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699CB1097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699CC1097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699CD1097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699CE1097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699CF1097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D03097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D13097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D27097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D3F097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D4F097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D67097D421600A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D7F097D421700A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699D97097D421700A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B699DA6097D421700A18468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8692821371DB4700D2D11B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8F16DB13290DC80002AD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B8F16E813290E0E0002AD73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B978DB10A31CF4A009E2DD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA3393310B2E36800190E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA692A60CBE4BC700EAD520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA692CA0CBE4C9000EAD520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BA7FEB90D8E76270017FF73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BD623ED0CBCF0F000DE782F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDCDB931001FB9C00B15929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDCDBB71001FCC000B15929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDCDBD71001FD2D00B15929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDCDBEC1001FD7300B15929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BDCDC0F1001FDE300B15929</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE6C6910A3E096F005A203A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BE99D260AD7A04800C59091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BF339020F8B864B0080FB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA5E8B0DEC4D9C00FA4CDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82820DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82950DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82A10DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82AD0DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82B90DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA82C50DF6A9E40087B4E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4BFA99980AAAF3B0009E916C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA222AC50DC88132001A17F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA222AE00DC882DB001A17F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
