[Unit]
Description=JACK server using %i.conf profile
Documentation=man:jackd(1)
After=sound.target local-fs.target

[Service]
Type=notify
EnvironmentFile=-/etc/jack/%i.conf
EnvironmentFile=-%h/.config/jack/%i.conf
ExecStart=/usr/bin/jackd $JACK_OPTIONS -d $DRIVER -d $DEVICE $DRIVER_SETTINGS
LimitRTPRIO=95
LimitRTTIME=infinity
LimitMEMLOCK=infinity
# Caution: use on memory-limited devices only
# OOMScoreAdjust=-1000

[Install]
WantedBy=default.target
