---

name: Test wscript files

on:
  push:
    branches: [master, develop]
  pull_request:
    branches: [master, develop]

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install flake8 findutils
      - name: Lint with flake8
        run: find . -type f \( -iname wscript -or -iname jack_control \) -exec flake8 {} \;
